<div class="container-fluid p-5">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <!-- LEFT ROW -->
                    <div class="col-12">
                            <div class="form-group">
                                    <div class="form-group"><label for="exampleInputEmail1">
                                            <strong>Master Plan Image</strong>
                                        </label>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>  
                    </div>

                </div>
    
                <div class="row">
                    <div class="col-12">
                        <div class="text-center p-5">
                            <button type="submit" class="btn">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>