<div class="padding">
    <div class="row p-4" style="margin: 5px !important;
            background: white;
            padding-top: 10px;
            border-radius: 10px;">
        <div class="col-md-12" style="margin: auto;">
            <h4 class="text-center" style="color: #9E9E9E; margin: 10px 0 20px 0;">EMI</h4>

            <div class="d-flex flex-row justify-content-center align-items-center">
                <label for="emi_per_lac" class="mb-0 mx-2">EMI Per Lac</label>
                <input type="Number" name="emi_per_lac" id="emi_per_lac" ng-model="emi_per_lac">
                <button class="btn btn-sm btn-success mx-2" ng-click="setEMIPerLac()" id="saveEMIPerLacButton">Save</button>
            </div>
        </div>
    </div>
</div>