<!doctype html>
<html lang="en">
    <%- include ./partials/header.ejs%>

    <body>
        <%- include ./partials/navigation.ejs%>
            <div class="error-bg">
                <div class="top-margin">
                    <div class="container">
                        <div class="">
                            <h1>404</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-green-background">
                <div class="container">
                    <div class="">
                        <h4>Whoops, The Page You Are Looking for isn't Here.</h4>
                        <a class="btn" href="">Go Home</a>
                    </div>
                </div>
            </div>
        <%- include ./partials/footer.ejs%>
    </body>
</html>