<!doctype html>
<html lang="en">
<%- include ./partials/header.ejs%>

<body>
  <%- include ./partials/navigation.ejs%>
  <%- include ./partials/topbar_info_pages.ejs%>
  <div class="top-margin">


    <div class="container">
      <img src="/v1/img/pathleft.webp" class="img img-fluid path-left-home-aboutus">
      <img src="/v1/img/pathleft.webp" class="img img-fluid path-left-home-aboutus" style="top:20vh;">
      <img src="/v1/img/trngl.webp" class="img img-fluid spin-img common_img_aboutus">
      <img src="/v1/img/trngl.webp" class="img img-fluid spin-img common_img_aboutus" style="top:40%;">

      <div class="row px-3 pt-5">
        <!-- ********************************************************************************* -->
        <div id=" who-we-are" class="row justify-content-center">
          <!-- <div class="col-12 mb-5 mt-5">
            <h1 class="text-center font-family-lato-bold" style="color: #347BBF;">Who we are?</h1>
          </div> -->
          <div class="col-lg-8 pr-lg-5">
            <h1 class="text-start font-family-lato-bold mb-5" style="color: #347BBF;">Who we are?</h1>
            <h5 class="font-weight-bold  font-family-lato-bold text-start" style="color: #98B769;">AssetZilla is a Real Estate Marketplace</h5>
            <p class="text-justify font-family-lato-regular" style="color: #000;">Assetzilla is an online Real Estate Marketplace platform for buying and selling a property, residential or commercial spaces like house, villa, home or apartment.</p>
          
            <h5 class="font-weight-bold  font-family-lato-bold text-start pt-3" style="color: #98B769;">Buying and Selling – Easy process</h5>
            <p class="text-justify font-family-lato-regular" style="color: #000;">We cater to the needs of buyer and sellers by listing the properties of sellers and enable the buyers to search, compare and choose from a wide range of properties and then make a well-informed purchase decision. We make all the important yet complex process easy for both parties like deal closure, document verification, ownership transfer, and loan approval, registration, etc.</p>
          
            <h5 class="font-weight-bold  font-family-lato-bold text-start pt-3" style="color: #98B769;"> One stop junction for all you real estate research and decision making</h5>
            <p class="text-justify font-family-lato-regular" style="color: #000;">We create comprehensive reports on properties which includes photos, map, floor plans, area, locality details which helps in analyzing the buyer about the property at the comfort of sitting at home.</p>
          </div>
          <div class="col-lg-4 m-lg-0 m-3" style="background: center / cover url('images/aboutus_1.webp') no-repeat; border-radius: 20px; min-height:350px;"></div>
        </div>
      </div>
    <!-- ********************************************************************************* -->
    
    <div class="row px-3 mt-5 background-texture">
      <!-- <div class="col-12 mb-5 mt-5">
        <h1 class="text-center font-family-lato-bold" style="color: #347BBF;">What we do?</h1>
      </div> -->
      <div class="row justify-content-center mb-4">
        <div class="col-lg-4 m-3 m-lg-0" style="background: center / cover url('images/aboutus_2.webp') no-repeat; border-radius: 20px; min-height:350px;"></div>
        <div class="col-lg-8 px-lg-5">
          <h1 class="text-start font-family-lato-bold mb-5" style="color: #347BBF;">What we do?</h1>
          <h5 class="font-weight-bold  font-family-lato-bold text-start" style="color: #98B769;">We aggregate all deals available in the market</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;"> We are a team of professionals with a passion of making the buying and selling of Real Estate assets easy for all. We collect deals from different sources, verify them and list them on our website to make them available for the buyer. We are the best source for pricing and availability of Ready to move and resale properties. We take care of the listing so that you can focus on your needs and business.</p>
          
          <h5 class="font-weight-bold  font-family-lato-bold text-start pt-3" style="color: #98B769;">We only deal in 100% government approved projects.</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;">We only deal in 100% government-approved projects. All projects are government-approved and we ensure 100% due diligence in terms of building plans, completion certificates, etc. </p>
          <p class="text-justify font-family-lato-regular" style="color: #000;">All our listings are verified by the respective local authorities, which we thoroughly validate before onboarding the projects/properties on our website. We do a detailed check of each property and list them only after it passes our eligibility criteria.</p>
        
          <h5 class="font-weight-bold  font-family-lato-bold text-start  pt-3" style="color: #98B769;">Tier-1 A-Grade projects/properties</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;">We only deal in Tier- 1 Grade A properties. All projects are government-approved and we ensure 100% due diligence in terms of building plans, completion certificates, etc. We believe in providing 100% genuine properties and making them available for you to purchase.
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8 pr-lg-5" >
          <h5 class="font-weight-bold  font-family-lato-bold text-start" style="color: #98B769;">Easy Comparison</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;">By integrating all aspects and modifications for a final price estimate, you can readily compare the facilities and amenities in different projects/properties. The sales comparison method considers property, square foot rate, age of the property, connectivity, and many other factors.</p>
        
          <h5 class="font-weight-bold  font-family-lato-bold text-start pt-3" style="color: #98B769;">Ready to Move in Projects</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;">We offer you a complete range of ready-to-move-in projects for your dream real estate properties. Tailored to suit your location and budget, we have ample experience in handling the residential and commercial properties markets across India. </p>
          <p class="text-justify font-family-lato-regular" style="color: #000;">Our company is a team of experienced real estate professionals who have gone from one project to another, and know what it takes to turn a property into a home.</p>
          
          <h5 class="font-weight-bold  font-family-lato-bold text-start pt-3" style="color: #98B769;">Resale Inventory</h5>
          <p class="text-justify font-family-lato-regular" style="color: #000;">We have a wide range of resale properties available in Residential, Commercial and Retail spaces. All the properties on our website are approved by the local development authority. We offer quality management through a dedicated team of professionals who will support you every step of the way. Our services are tailored with our clients’ needs in mind.</p>
        </div>
        <div class="col-lg-4 m-3 m-lg-0" style="background: center / cover url('images/aboutus_3.webp') no-repeat; border-radius: 20px; min-height:350px;"></div>
      </div>
      <!-- ********************************************************************************* -->
      <div class="row flex-row justify-content-center align-items-start mt-5 mb-5 px-3">
        <div class="col-12 mt-5 mb-5">
          <h1 class="text-center font-family-lato-bold" style="color: #347BBF;">How we are different/Useful?</h1>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="services_three text-center">
            <div class="circle">
              <img style="width: 110px; filter: grayscale(5) contrast(9);" src="/images/all_inclusive_prices.webp" alt="">
            </div>
            <h4 class="">All inclusive prices</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="services_three text-center">
            <div class="circle">
              <img src="/images/no_false_promise.webp" style="width: 75px; filter: contrast(9);" alt="">
            </div>
            
            <h4 class="">No false promises</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="services_three text-center">
            <div class="circle">
              <img src="/images/complete_paperwork.svg" alt="">
            </div>
            <h4 class="">Proper Due Diligence,<br/>Complete paper work</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="services_three text-center">
            <div class="circle">
              <img src="/images/transparent.svg" alt="">
            </div>
            <h4 class="">Transparent deals</h4>
          </div>
        </div>
        
      </div>
      <!-- ********************************************************************************* -->
      <!-- <div class="row mt-2 mb-5 px-3">
        <div class="col-12">
          <figure class=" p-3 rounded" style="border-left: .25rem solid #347BBF;background-color:#F2F7E9;">
            <blockquote class="blockquote">
              <p>
                Our passion is to build the strongest relationships with companies, businesses and consumers alike. We believe in a transparent business model that makes deals clear, no matter how big or small they are.</p>
              </p>
            </blockquote>
          </figure>
        </div>
      </div> -->
      
      
      
      
    </div>
  </div>
  <!-- ********************************************************************************* -->
  <div class="common-wrapper newsletter-wrapper pt-0 pb-0">
    <div class="changing-way-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="get_touch text-center">
              <h4 id="az-changing">Assetzilla is changing the way you invest your earnings!</h4>
              <a href="#" data-toggle="modal" data-target="#FDPModal" class="text-white">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ********************************************************************************* -->
  <div class="common-wrapper newsletter-wrapper background-texture">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h4>Become a part of our</h4>
          <h3 id="newsletter-word">Newsletters</h3>
          <form id="newsletter-form">
            <input type="email" class="news-input" placeholder="Enter Email Id" id="newsletter-email">
            <button type="submit"><img src="/v1/img/sent-mail.webp" class="img img-fluid"></button>
          </form>
        </div>
        <div class="col-lg-6">
          <img src="/v1/img/news-img.webp" class="img img-fluid news-img">
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
  </div>

  <%- include ./partials/footer.ejs%>
</body>

</html>