<!doctype html>
<html lang="en">
<%- include ./partials/header.ejs%>

<body>
  <%- include ./partials/navigation.ejs%>
  <%- include ./partials/topbar_info_pages.ejs%>
  <div class="top-margin background-texture">
    <div class="container">
      <div class="" style="min-height: 50vh;">

      </div>
    </div>
  </div>

  <%- include ./partials/footer.ejs%>
</body>

</html>