<!-- Notification Modal -->
<div class="modal fade" id="notifications-modal" tabindex="-1" role="dialog" aria-labelledby="notification-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">
                    Notification
                </h3>
                <h5 class="text-center">You need to be logged in to book the property</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-success" href="#" data-toggle="modal" data-dismiss="modal" data-target="#loginModal" id="loginButtonModalClick">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
