<div>
    <h5>Area</h5>
    <ul>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="area-0-to-1000-sq-ft"
                    onchange="handleFilters('area','0 to 1000 sq ft')">
                <label class="custom-control-label" for="area-0-to-1000-sq-ft">
                    0 to 1000 sq ft <span id="zeroToTenCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="area-1000-to-1500-sq-ft"
                    onchange="handleFilters('area','1000 to 1500 sq ft')">
                <label class="custom-control-label" for="area-1000-to-1500-sq-ft">
                    1000 to 1500 sq ft <span id="tenToFifteenCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="area-1500-to-2000-sq-ft"
                    onchange="handleFilters('area','1500 to 2000 sq ft')">
                <label class="custom-control-label" for="area-1500-to-2000-sq-ft">
                    1500 to 2000 sq ft <span id="fifteenToTwentyCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="area-2000-sq-ft-and-above"
                    onchange="handleFilters('area','2000 sq ft and above')">
                <label class="custom-control-label" for="area-2000-sq-ft-and-above">
                    2000 sq ft and above<span id="twentyToAboveCount"></span>
                </label>
            </div>
        </li>

    </ul>
</div>