<div >
    <h5>Authorities </h5>
    <div class="search-filter-wrp typeahead" id="authority-search">
        <input type="text" class="form-control typeahead" placeholder="Search Authority...">
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="authority-filter-container-list">
    </ul>
    <!-- <a class="show-all-filters" href="javascript:;" onclick="showhidefilter('authority-filter-container-list')">
        <span class="show-all-ft"> 
            Show all authority<i class="fa fa-angle-down ml-1"></i>
        </span>  
        <span class="show-less-ft"> 
            Show less authority<i class="fa fa-angle-up ml-1"></i>
         </span> 
     </a> -->
</div>