<div >
    <h5>Builders </h5>
    <div class="search-filter-wrp" id="builder-search">
        <input type="text" class="form-control typeahead"  placeholder="Search Builder...">
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="builder-filter-container-list">
        
    </ul>
    <!-- <a class="show-all-filters" href="javascript:;" onclick="showhidefilter('builder-filter-container-list')">
        <span class="show-all-ft"> 
            Show all builders<i class="fa fa-angle-down ml-1"></i>
        </span>  
        <span class="show-less-ft"> 
            Show less builders<i class="fa fa-angle-up ml-1"></i>
         </span> 
     </a> -->
</div>