<div >
    <h5>Authorities </h5>
    <div class="qf-search-filter" id="location-search">
        <input type="text" class="form-control typeahead" placeholder="Search Districts..." >
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="district-filter-container-list">
    </ul>
    
</div>