<!-- <div >
    <h5> Property Facing </h5>
    <ul id="facing-search">
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-east" onchange="handleFilters('facing','East')">
                <label class="custom-control-label" for="facing-east">
                    East<span id="eastCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-west" onchange="handleFilters('facing','West')">
                <label class="custom-control-label" for="facing-west">
                    West<span id="westCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-north" onchange="handleFilters('facing','North')">
                <label class="custom-control-label" for="facing-north">
                    North<span id="northCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-south" onchange="handleFilters('facing','South')" />
                <label class="custom-control-label" for="facing-south">
                    South<span id="southCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-north-east" onchange="handleFilters('facing','North-East')">
                <label class="custom-control-label" for="facing-north-east">
                    North-East<span id="northEastCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  id="facing-north-west" onchange="handleFilters('facing','North-West')">
                <label class="custom-control-label" for="facing-north-west">
                    North-West<span id="northWestCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-south-east" onchange="handleFilters('facing','South-East')">
                <label class="custom-control-label" for="facing-south-east">
                    South-East<span id="southEastCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="facing-south-west" onchange="handleFilters('facing','South-West')">
                <label class="custom-control-label" for="facing-south-west">
                    South-West<span id="southWestCount"></span>
                </label>
            </div>
        </li>

    </ul>

    
</div> -->

<div>
    <h5 id="facing_name"></h5>

    <ul id="facing-filter-container-list">

    </ul>

</div>