<!-- <div class="">
    <h5>Location Type</h5>
    <ul>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="location_type-state" onchange="handleFilters('location_type','state')" >
                <label class="custom-control-label" for="location_type-state">States<span id="stateCount"></span></label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="location_type-district" onchange="handleFilters('location_type','district')">
            <label class="custom-control-label" for="location_type-district">Districts<span id="districtCount"></span></label>
        </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="location_type-city" onchange="handleFilters('location_type','city')">
            <label class="custom-control-label" for="location_type-city">Cities<span id="cityCount"></span></label>
        </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="location_type-subcity" onchange="handleFilters('location_type','subcity')" >
            <label class="custom-control-label" for="location_type-subcity">Subcities<span id="subcityCount"></span></label>
        </div>
        </li>
    
    </ul>
</div> -->


<div>
    <h5>Location Type</h5>

    <ul id="location_type-filter-container-list">

    </ul>

</div>