<div >
    <h5>Locations </h5>
    <div class="search-filter-wrp" id="<% if (parentId){ %><%= parentId %>-<%}%>location-search">
        <input type="text" class="form-control typeahead" placeholder="Search Location...">
        <button class="btn"><i class="fa fa-search"></i></button> 
    </div>
    <ul id="<% if (parentId){ %><%= parentId %>-<%}%>location-filter-container-list">
    </ul>
   
</div>