<!-- <div  >
    <h5>Projects </h5>
    <div class="search-filter-wrp" id="project-search">
        <input type="text" class="form-control typeahead" placeholder="Search Project..." >
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="project-filter-container-list">
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="project-dlf-prime-towers" onchange="handleFilters('project','DLF Prime Towers')" >
                <label class="custom-control-label" for="project-dlf-prime-towers">
                    DLF Prime Towers<span id="dlfCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  id="project-park-town" onchange="handleFilters('project','Park Town')" >
                <label class="custom-control-label" for="project-park-town">
                    Park Town<span id="ptownCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="project-pareena-coban-residences" onchange="handleFilters('project','Pareena Coban Residences')" >
                <label class="custom-control-label" for="project-pareena-coban-residences">
                    Pareena Coban Residences<span id="pcresidenceCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="project-ramprastha-plots" onchange="handleFilters('project','Ramprastha Plots')">
                <label class="custom-control-label" for="project-ramprastha-plots">
                    Ramprastha Plots<span id="rplotsCount"></span>
                </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="project-amrapali-sapphire" onchange="handleFilters('project','Amrapali Sapphire')" >
                <label class="custom-control-label" for="project-amrapali-sapphire">
                    Amrapali Sapphire<span id="asapphireCount"></span>
                </label>
            </div>
        </li>

    </ul>
   
</div> -->

<div >
    <h5>Projects </h5>
    <div class="search-filter-wrp typeahead" id="project-search">
        <input type="text" class="form-control typeahead" placeholder="Search Project...">
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="project-filter-container-list">
    </ul>
    <!-- <a class="show-all-filters" href="javascript:;" onclick="showhidefilter('authority-filter-container-list')">
        <span class="show-all-ft"> 
            Show all authority<i class="fa fa-angle-down ml-1"></i>
        </span>  
        <span class="show-less-ft"> 
            Show less authority<i class="fa fa-angle-up ml-1"></i>
         </span> 
     </a> -->
</div>