<strong>Property Type</strong>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="status-on-going" onchange="handleFilters('type','On Going')" />
        <div class="state">
            <label>On Going</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="status-completed" onchange="handleFilters('type','Completed')" />
        <div class="state">
            <label>Completed</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
        <div class="pretty p-default">
            <input type="checkbox" id="status-pre-launch" onchange="handleFilters('type','Pre Launch')" />
            <div class="state">
                <label>Pre Launch</label>
            </div>
        </div>
    </div>
