<strong>Projects</strong>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="input-group w-80" id="project-search">
        <input type="text" class="form-control typeahead radius-none bg-white clr-black directory-search"
            placeholder="Search Project..." aria-describedby="basic-addon1">
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="project-dlf-prime-towers" onchange="handleFilters('project','DLF Prime Towers')" autocomplete="off"/>
        <div class="state">
            <label>DLF Prime Towers</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="project-park-town" onchange="handleFilters('project','Park Town')" autocomplete="off"/>
        <div class="state">
            <label>Park Town</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="project-pareena-coban-residences" onchange="handleFilters('project','Pareena Coban Residences')" autocomplete="off"/>
        <div class="state">
            <label>Pareena Coban Residences</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="project-ramprastha-plots" onchange="handleFilters('project','Ramprastha Plots')"autocomplete="off" />
        <div class="state">
            <label>Ramprastha Plots</label>
        </div>
    </div>
</div>
<div class="d-flex flex-column bd-highlight mt-2">
    <div class="pretty p-default">
        <input type="checkbox" id="project-amrapali-sapphire" onchange="handleFilters('project','Amrapali Sapphire')" autocomplete="off"/>
        <div class="state">
            <label>Amrapali Sapphire</label>
        </div>
    </div>
</div>