<!DOCTYPE html>
<html>

<%- include ../partials/head.ejs%>

<body>
    <%- include ../partials/navigation_bar.ejs%>
    <div class="top-margin">
        <div class="container">
            <img src="/images/404.webp" class="w-100">
        </div>
    </div>
</body>

<%- include ../partials/footer.ejs%>

</html>