<!DOCTYPE html>
<html>

<%- include ../partials/head.ejs%>

<body>
    <%- include ../partials/navigation_bar.ejs%>
    <div class="top-margin">
        <div class="container">
            <div class="row">
               <div class="col-12 text-center">
                   <h1 class="text-center my-5">
                       <strong>FAQ's</strong>
                   </h1>
                   <div class="w-100">
                        <img src="./images/notfound.webp" alt="Not Found" class="w-100">
                   </div>
               </div>
            </div>
        </div>
    </div>
    

</body>

<%- include ../partials/footer.ejs%>

</html>